html {
    background-color: rgb(82, 81, 80);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: rgb(49, 49, 49);
    color: white;
    width: 70rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

a{
    color: white;
}